@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #A0AEC0;
  border-radius: 20px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #52525b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}